body {
  color: white;
  margin: 0;
  padding: 0;
}

.about {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative; /* Establishes positioning context */
  min-height: 120vh; /* Adjust the height of the section as needed */
  width: 100%; /* Ensure the section spans the entire width */
}

.blurry-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home.jpeg"); /* Replace with the path to your about image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px); /* Adjust the blur intensity as needed */
  z-index: 0;
}

.about-content {
  margin-top: 100px;
  max-width: 700px; /* Adjust the value to your desired width */
  /* Centers the container horizontally */
  position: relative; /* Establish positioning context */
  z-index: 1; /* Ensure content is above the blurred background */
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center paragraphs horizontally */
}

.about-title h3 {
  text-align: center;
  margin-bottom: 50px;
}

.paragraphs p {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  line-height: 1.6;
  transition: transform 0.6s ease, opacity 0.6 ease;
}

@media screen and (max-width: 1024px) {
  .about-content {
    margin-top: 80px;
    max-width: 90%;
    padding: 20px;
  }

  .paragraphs p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens smaller than 768px */
  .about-content {
    margin-top: 60px;
    padding: 10px;
    max-width: 90%; /* Adjust the value to your desired width */
  }

  .about-title h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .paragraphs {
    margin-left: 0;
  }

  .paragraphs p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .about-content {
    margin-top: 40px;
    padding: 10px;
    max-width: 95%;
  }

  .about-title h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .paragraphs p {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}
