a {
  color: #fff;
}

.project-a {
  margin-top: 50px;
}

.section {
  font-family: "Poppins", sans-serif;
  color: #fff;
  flex-direction: column;
  padding-bottom: 10px;
}

.projects h2 {
  display: flex;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.project-item {
  flex: 0 0 calc(33.33% - 60px);
  background-color: #8c8c8c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}

.project-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: ease-in 0.1s;
}

.project-item img {
  width: 40px;
}

.project-item a {
  color: #fff;
}

.projects {
  background-image: url("../images/projects1.jpeg"); /* Replace with the path to your projects image /
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; / Ensure the section spans the entire width */
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .projects {
    background-image: url("../images/projects1.jpeg"); /* Replace with the path to your projects image /
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; / Ensure the section spans the entire width */
    height: 110vh;
  }

  .projects-grid {
    display: inline;
    align-items: center;
    gap: 2px;
  }

  .project-item {
    flex: 0 0 calc(33.33% - 60px); /* Adjust as needed /
  background-color: #8c8c8c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px; / Adjust as needed */
    cursor: pointer;
  }

  .projects-item {
    margin-bottom: 0;
  }

  .projects h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
